# MODES: development, homolog, production
# EXAMPLES: .env.devlocal, .env.devremote, .env.homolog, .env.production
VITE_API_HOST=https://{YOUR_DOMAIN}:{SERVICE_PORT}/ # Api url to use with axios
VITE_API_BASE_URL=/calculadora-judicial/api # Api url to use with axios
VITE_BASE_URL=https://{YOUR_DOMAIN}:{FRONT_END_PORT} # frontend url, FRONT_END_PORT default: 5173
VITE_ROUTER_BASE_URL=/calculadora-judicial # vue router base url
VITE_TOKEN=##### # token to login without SSO used on DEV pointing to remote server
VITE_LOG=false # used on DEV to log on browser console
VITE_LOG_REQUEST=false # used on DEV to log REQUESTS on browser console
VITE_LOG_RESPONSE=true # used on DEV to log RESPONSES on browser console
