# MODES: development, homolog, production
# EXAMPLES: .env.devlocal, .env.devremote, .env.homolog, .env.production
VITE_API_URL='https://{YOUR_DOMAIN}:8080/juca/api' # Api url to use with axios
VITE_BASE_URL='https://{YOUR_DOMAIN}:5173' # frontend url
VITE_ROUTER_BASE_URL='/juca' # vue router base url
VITE_TOKEN='#####' # token to login without SSO used on DEV pointing to remote server
VITE_LOG=false # used on DEV to log on browser console
VITE_LOG_REQUEST=false # used on DEV to log REQUESTS on browser console
VITE_LOG_RESPONSE=true # used on DEV to log RESPONSES on browser console
