ENV='' # branch | dev | hml | prod
debug='' #True or False

SECRET_KEY_MONGO=''
SECRET_KEY=''
DB_PASS_GERAL=''
DB_USER=''
DB_PASS=''
DB_PORT=''
DB_HOST=''
DB_NAME=''

MSAL_CLIENT_ID = ''
MSAL_CLIENT_SECRET = ''    
MSAL_DTT_TENANT = ''

DEFAULT_FROM_EMAIL = ''
EMAIL_SERVER = ''
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_SUBJECT_PREFIX = ''
