uploads
uploads/
log/
/cert.crt
/cert.key
**/migrations/**
!**/migrations/*.mo
!**/migrations/__init__.py
__pycache__
*.sqlite3
static
staticfiles
**/package-lock.json
project_ids.json
.idea
payload
dir_testes
db.zip
db - Copy.sqlite3
tests_loop.bat
.env
.env.dev
.env.prod
.env.hml
.env.azure
.env_bk
venv10
venv_linux
development.db
sqlite3.db
requirements_linux.txt
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
.history
remove_migrations.py
mypy.ini
