@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;900&display=swap');

:root {
  color: #213547;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  --primary: 198,100%,35%;
  --secondary: 81, 68%, 44%;
  --background: 0, 0%, 96%;
  --base: 0, 0%, 100%;
  --dark-base: 0, 0%, 0%;
  --content: 0, 0%, 0%;
  --dark-content: 0, 0%, 100%;
  --white: 0, 0%, 100%;
  --information: 198, 100%, 35%;
  --success: 81, 67%, 44%;
  --error: 4, 77%, 48%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #86bc24;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
  line-height: 1.5;
  font-weight: 400;
  background-color: hsl(var(--background));
  color: hsl(var(--content));
  --bar-bg: var(var(--background));
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.card {
  padding: 2em;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::selection {
  color: #FFF;
  background: hsl(var(--secondary));
}
body,
div {
  --bar: 5px;
  --bar-start: 0;
  --bar-end: 0;
}
div {
  --bar-bg: var(--base);
}
::-webkit-scrollbar {
  width: var(--bar);
  height: var(--bar);
  right: -100px;
}
::-webkit-scrollbar-track {
  background: hsl(var(--bar-bg));
  margin-top: var(--bar-start);
  margin-left: var(--bar-start);
  margin-bottom: var(--bar-end);
  margin-right: var(--bar-end);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 var(--bar) var(--bar) hsl(var(--dark-base),.3);
  transition: all 1s ease-in-out;
}
.dark ::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 var(--bar) var(--bar) #fff9;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 var(--bar) var(--bar) hsl(var(--secondary));
}
::-webkit-scrollbar-button {
  display: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.scroll-left {
  direction: rtl;
}
.scroll-left > div {
  direction: ltr;
}

.q-field__bottom {
  padding: 4px 12px 0;
}
.q-stepper.vertical {
  display: grid;
  grid-template-columns: 200px 1fr;
}
.q-stepper.vertical .q-stepper__header {
  min-width: 200px;
  flex-direction: column;
  border-bottom: none;
}
.q-stepper.vertical .q-stepper__tab {
  justify-content: start;
}
.q-stepper.vertical .q-stepper__tab--active > .q-focus-helper {
  background: currentColor;
  opacity: 0.1;
}
.q-stepper.vertical .q-stepper__dot::before, 
.q-stepper.vertical .q-stepper__label::after {
  content: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}