{% extends "admin/change_form.html" %}
{% block object-tools-items %}
    {{ block.super }}
    {% load static %}

    {% if has_perm_view_formula %}
        {% if request.GET.view_code %}
            <a href="#" class="btn btn-md" style="padding: 6.8px 20px; background-color: #2563eb; color: white;" onclick="reload()">Ocultar
                código</a>
        {% else %}
            <a href="#" class="btn btn-md" style="padding: 6.8px 20px; background-color: #2563eb; color: white;" onclick="viewCode()">Ver
                código</a>
        {% endif %}
        <form id="_code" action="{{ form_url }}" method="get">
            {% csrf_token %}
            <input style="visibility: hidden" name="csrf_token" value="{{ csrf_token }}">
            <input name="view_code" value="true" style="visibility: hidden">
        </form>
    {% endif %}
    <script>
        async function viewCode() {
            document.getElementById('_code').submit()
        }

        function reload() {
            window.location.href = window.location.href.split("?")[0];
        }

    </script>
{% endblock %}

{% block content %}{{ block.super }}
{% endblock %}
